<!--The content below is only a placeholder and can be replaced.-->
<style>
.login
{
background-color:rgba(0, 0, 255, 0.466);
color:white;
width:100%;
height:80px;

}
.split
{
    border:0px solid white;
    width:100%;
    height:100%;
    background-color:lightgrey;
}
.style
{
    width:50%;
    float:left;
    margin:0px;
    background-color:rgba(0, 0, 255, 0.466);   
    height:80px;  
}
.page
{
    width:100%;
    height:100%;
    margin:0px;   
    background-color:lightgrey;
}
.page1
{
    height:100%;
    float:left;
    margin:0px;   
    background-color:lightgrey;
}

</style>

 <div class="split">
   <div class="login" >
              <div  class="style"> 
                  <h1>facebook</h1>    
              </div> 
            <div  class="style" style="width:15%" >
                  Email or Phone <br/>
                  <input autofocus/>
            </div>
            <div  class="style" style="width:15%" >
                  Password <br/>
                 <input/><br/>
                  <a href="#" >forgotten password?</a>
           </div>
           <div  class="style" style="width:20%" >
                   <input type ="button" value="login" style="background-color:blue ;color:white"/>
           </div>
    </div>
            <div class="page">
                <div class="page1" style="width:50%;height:700px">
                        <h2>Facebook helps you connect and share with the<br/> people in your life</h2>
                        <img src="assets/images/connect1.png" />
                </div>
                  
            
                <div>
                        <h1> Create an account</h1>
                        <h3>It's free and always will be.</h3>
      
                  </div>
                  <div class="page1" style="width:15%"><input  style="height:20px " placeholder="First Name"/></div>
                  <div class="page1"style="width:35%"><input style="height:20px " placeholder="Last Name"/></div><br/><br/>
                  <div class="page1"style="width:50%"><input  style="width:55% ;height:20px"placeholder="Mobile number or Email address"/></div><br/>
                 <br/>
                 <div class="page1"style="width:50%"><input style="height:20px;width:55% " placeholder="New password"/></div>
                 <br/>
                 <h2>Birthday</h2>
                 <select  class="page1" style="width:3% ;height:36px">
                        
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                                <option value='5'>5</option>
                                <option value='6'>6</option>
                                <option value='7'>7</option>
                 </select>
                 <select  class="page1" style="width:7% ;height:36px">
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        
                </select>
                 <select  class="page1" style="width:5% ;height:36px">
                        <option value='1947'>1947</option>
                        <option value='1948'>1948</option>
                        <option value='1949'>1949</option>
                        <option value='1950'>1950</option>
                        <option value='1951'>1951</option>
                        <option value='1952'>1952</option>
                        <option value='1953'>1953</option>
                        <option value='1954'>1954</option>
                        <option value='1955'>1955</option>
                       
                 </select>
                 <abbr  class="page1" style="width:35% "  title="Providing your date of birth helps make sure that you please visit our Data Policy.">why do i need to provide <br/>my date of birth?</abbr>
                 <div class="page1"  style="width:10% ;height:30px"> <input type="radio"  /> female</div>
                 <div class="page1"  style="width:40% ;height:30px"> <input type="radio"  /> male</div>
                 <div class="page1" style="width:50% ; height:100px"> <p>By clicking Sign Up, you agree to our <a href="#">Terms</a>, <a href="#">Data Policy</a> and <br/><a href="#">Cookie Policy</a>. You may receive SMS notifications from us and <br/>can opt out at any time.</p></div>
                 <br/>
                 <div class="page1" style="width:50% ; height:90px"> <input type="button" style="width:200px;height:40px;border-radius:8px;background-color:green;color:white ;font-size:25px"value="sign up"/></div>
                  <div class="page1" style="width:50% ; height:100px "> <a href="#">creat page</a>for celebrity,band or business</div>
                </div>
</div>

    
        